body {
    background-color: #FAE7C9;
}

body,
html {
    margin: 0;
    padding: 0;
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #706233;
    border-radius: 10px 10px 0px 0px;
}

.head .links {
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content: space-between;
    font-size: 32px;
}

.header_logo {
    border-radius: 10px;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 400px;
    background-color: #B0926A;
    border-radius: 0px 0px 10px 10px;
}

.hero_text {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: space-evenly;
}

.crew_info {
    margin-top: 80px;
    margin-bottom: 80px;
}

.bada {
    display: flex;
    flex-direction: column;
}

.col1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    ;
}

.col2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.crew_info .heading {
    font-size: 40px;
    display: flex;
    justify-content: space-around;
}

.Oda_Quote {
    background-color: #E1C78F;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 80px;
    padding-bottom: 80px;
    font-size: x-large;
    border-radius: 10px;
}

.designation {
    display: flex;
    justify-content: right;
}

.reg {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    background-color: #E1C78F;
    border-radius: 10px;
}

.reg .text {
    display: flex;
    flex-direction: column;
}

.reg .button {
    color: blanchedalmond;
    margin-top: 20px;
}